@using Blog.Web.Areas.Admin.Users
@model Blog.Web.Areas.Admin.Users.FilteredUsersModel

@{
    ViewData["Title"] = "All Users";
}

@section styles
{
    <link rel="stylesheet" href="~/sass_compiled/admin/user/users.css"/>
}

@section footer {
    <script src="/admin/js/form-filter.js"></script>
}

<form asp-controller="User" asp-action="All" method="get" class="filter-form">
    <input type="hidden" asp-for="Filter.Offset" value="@Model?.Filter?.Offset"/>
    <input type="hidden" asp-for="Filter.Limit" value="@Model?.Filter?.Limit"/>
    <input type="hidden" asp-for="Filter.OrderBy" value="@Model?.Filter?.OrderBy"/>
    <input type="hidden" asp-for="Filter.Sort" value="@Model?.Filter?.Sort"/>
    <h1 class="text-center">All Users</h1>
    <div class="actions">
        <div class="create-user">
            <a class="btn btn-primary create-user-btn" asp-controller="User" asp-action="Create">Create<i class="fa fa-plus"></i></a>
        </div>
    </div>
    <table class="table table-striped table-dark table-bordered users-table">
        <caption>
            @($"Showing {Model.Users.Length} ({Model.Filter.Offset} - {(Model.Filter.Offset + Model.Users.Length)}) posts from {Model.UsersCount}")
        </caption>
        <thead class="thead-dark">
        <tr>
            <th class="order">
                <a href="#" data-order-by="Id" data-sort="@Model?.Filter?.Sort"
                   class="@(Model.Filter.OrderBy == UserFilterOrderBy.Id ? "active" : "")">#</a>
            </th>
            <th class="order">
                <a href="#" data-order-by="Name" data-sort="@Model?.Filter?.Sort"
                   class="@(Model.Filter.OrderBy == UserFilterOrderBy.Name ? "active" : "")">Name</a>
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (var user in Model?.Users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Name</td>
                    <td class="actions-container">
                        <div>
                            <a class="btn btn-warning"
                               asp-controller="User" asp-action="ChangePassword" asp-route-id="@user.UserId">Change Password</a>
                            <a class="btn btn-danger"
                               asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>
    @if (Model?.Users.Length < 1)
    {
        <div>No users were found.</div>
    }
</form>
