@model PostModel

@{
    ViewData["Title"] = @Model.Title;
}

@section styles {
    <link href="~/css/post.css" rel="stylesheet" />
}

<main>
    <header>@Model.Title</header>
    <p>@Model.Content</p>
    <div class="tags">
        @foreach (var tag in Model.Tags)
        {
            <a href="#">@tag</a>
        }
    </div>
</main>
<div class="comment-section">
    <div class="create-comment-container">
        <textarea placeholder="Write your comment here.."></textarea>
        <button type="submit">Create</button>
    </div>
    <div class="comments-container">
        @if (Model.Comments != null)
        {
            foreach (var comment in Model.Comments)
             {
                 <div class="comment">
                     <header>
                         <div class="avatar">
                             <img src="@comment.User.AvatarUrl"/>
                         </div>
                         <span class="profile-name">@comment.User.Name</span>
                         <span class="date">@comment.DateCreated</span>
                     </header>
                     <div class="line"></div>
                     <p class="content">
                         @comment.Content
                     </p>
                 </div>
            }
        }
        else
        {
            <div>
                There are no comments yet. Be the first to post one!
            </div>
        }
    </div>
</div>



