@using Markdig
@model Blog.Web.Areas.Admin.Posts.FilteredPostsModel

@{
    ViewData["Title"] = "Home";
}

@section styles {
    <link href="~/sass_compiled/home.css" rel="stylesheet"/>
}

<main>
    <div class="posts">
        @if (!string.IsNullOrWhiteSpace(Model?.Filter?.Search)) {
            <div>Results for "@Model.Filter.Search"</div>
        }

        @if (Model?.Posts != null)
        {
            foreach (var post in Model.Posts)
            {
                <article>
                    <header class="title">
                        <h2>
                            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
                        </h2>
                        <div class="tags">
                            @foreach (var tag in post.Tags)
                            {
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-tagId="@tag.TagId"
                                   class="tag">@tag.Name</a>
                            }
                        </div>
                    </header>
                    @{
                        const int excerpLength = 40;
                        string excerp = post.Content.Length > excerpLength ? $"{post.Content[..excerpLength]}.." : post.Content;
                    }
                    <p class="excerp">@Markdown.ToPlainText(excerp)</p>
                </article>
            }
        }

        @if (Model?.Posts?.Length == 0)
        {
            <div>No results found</div>
        }
    </div>

    <div class="pagination">
        @if (Model != null && Model.PostsCount > Model.Filter.Limit)
        {
            int previousOffset = Model.Filter.Offset - Model.Filter.Limit;

            if (previousOffset >= 0)
            {
                <a asp-controller="Home" asp-action="Index" 
                   asp-route-offset="@(previousOffset > 0 ? previousOffset : null)" asp-route-search="@Model.Filter.Search"
                   class="previous">Previous</a>
            }
            else
            {
                <a href="#" class="previous disabled">Previous</a>
            }

            int nextOffset = Model.Filter.Offset + Model.Filter.Limit;

            if (nextOffset < Model.PostsCount)
            {
                <a asp-controller="Home" asp-action="Index" 
                   asp-route-offset="@nextOffset" asp-route-search="@Model.Filter.Search" 
                   class="next">Next</a>
            }
            else
            {
                <a href="#" class="next disabled">Next</a>
            }
        }
    </div>
</main>