@model EditModel
@{
    ViewData["Title"] = "Edit Form";
    Layout = "_AdminPanelLayout";
}

@section styles {
    <link rel="stylesheet" href="~/admin/css/create-post.css" />
}

<div class="form-wrapper">
    <form asp-controller="Form" asp-action="EditPost" class="main-form">
        <h1 class="text-center">Editing post</h1>
        <div class="form-group">
            <label for="Post_Title">Title</label>
            <input class="form-control" asp-for="Post.Title" name="Title" value="@Model.Post.Title"/>
        </div>
        <div class="form-group">
            <label for="Post_Content">Content</label>
            <textarea class="form-control" asp-for="Post.Content" name="Content">@Model.Post.Content</textarea>
        </div>
        <div class="form-group">
            <label for="Post_Tags">Tags</label>
            <input class="form-control" asp-for="Post.Tags" name="Tags" value="@string.Join(',', Model.Post.Tags)"/>
            <small class="form-text form-muted">
                * Separate tags with commas
            </small>
        </div>
        @if (Model.Alerts != null && Model.Alerts.Length > 0)
        {
            <div class="alert alert-danger">
                @foreach (string alert in Model.Alerts)
                {
                    <div>@alert</div>
                }
            </div>
        }
        <input type="hidden" name="id" value="@Model.Post.Id"/>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>