@model PostModel[]

@{
    ViewData["Title"] = "Page";
    Layout = "_AdminPanelLayout";
}

@section styles
{
    <link rel="stylesheet" href="~/admin/css/posts.css"/>
}

<div class="list-wrapper">
    <div class="actions">
        <div class="searchbar">
            <input class="search-input" type="text" name="" placeholder="Search...">
            <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
        </div>
        <div class="create-post">
            <label for="new-post">Create post</label>
            <a class="btn btn-primary" id="new-post"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <table class="table table-striped table-dark table-bordered my-table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <th>@post.Id</th>
                <td>@post.Title</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" asp-area="" asp-controller="Data" asp-action="Post" asp-route-id="@post.Id">View</a>
                        <a class="btn btn-warning" asp-controller="Form" asp-action="EditForm" asp-route-id="@post.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Form" asp-action="DeletePostForm" asp-route-id="@post.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
